{{clientObject | json}}
<app-alert [message]="'Indicates List of projects worked in the org.'"></app-alert>
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List--{{currentDate | date:'dd-MM-yyyy'}}
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Company Name</th>
                            <th>Person Name</th>
                            <th>Contact Number</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of clientList; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.companyName | uppercase}}</td>
                            <td>{{item.contactPersonName}}</td>
                            <td>{{item.contactNo}}</td>
                            <td>{{item.city}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                                <button class="btn btn-danger" (click)="onDelete(item.clientId)">Delete</button>

                            </td>
                        </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Contact Name</label>
                        <input type="text" #presonName="ngModel" minlength="5" required [(ngModel)]="clientObject.contactPersonName"
                            class="form-control">
                        @if (presonName.touched) {
                        <div class="text-danger">
                            @if (presonName.errors?.['required']) {
                                <span>Contact Name is required.</span> 
                            }
                            @if (presonName.errors?.['minlength']) {
                                <span>Minimum length is 5 required</span> 
                            }
                        </div>
                        }
                    </div>
                    <div class="col-6">
                        <label for="">Company Name</label>
                        <input type="text" [(ngModel)]="clientObject.companyName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">City</label>
                        <input type="text" [(ngModel)]="clientObject.city" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">State</label>
                        <input type="text" [(ngModel)]="clientObject.state" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Pincode</label>
                        <input type="text" [(ngModel)]="clientObject.pincode" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Address</label>
                        <textarea [(ngModel)]="clientObject.address" class="form-control"></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">Employee Strength</label>
                        <input type="text" [(ngModel)]="clientObject.employeeStrength" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">GST Number</label>
                        <input type="text" [(ngModel)]="clientObject.gstNo" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Contact Number</label>
                        <input type="text" [(ngModel)]="clientObject.contactNo" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Registration Number</label>
                        <input type="text" [(ngModel)]="clientObject.regNo" class="form-control">
                    </div>

                </div>
                <div class="row pt-2">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        <app-my-button [btnClass]="'btn btn-success'" [btnTetxt]="'Save Client'" (onBtnClciked)="saveClient()"></app-my-button>
                        <!-- <button class="btn btn-success" (click)="saveClient()">Save Client</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>