<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Angular App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/" routerLinkactive="active">Home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/employee" routerLinkactive="active">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/client" routerLinkactive="active">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/client-project" routerLinkactive="active">Projects</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container pt-2">
    <router-outlet></router-outlet>
</div>
